:root {
    --main-color: #03312e;
    --secondary-color: #b4e7ce;
    --accent-1: #037171;
    --accent-2: #9bdeac;
}

header {
    background: var(--main-color);
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
}

.logo {
    padding: 40px;
    justify-content: center;
    grid-column: 1/2;
}

.links {
    color: var(--secondary-color);
    background-color: transparent;
    grid-column: 3/4;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hyperlink {
    color: var(--secondary-color);
    background-color: var(--accent-1);
    padding: 10px;
    border: 1px solid var(--main-color);
}

a:visited {
    color: var(--accent-2)
}

.hero {
    position: relative;
}

.banner {
    width: 100%;
    height: auto;

}

h1 {
    color: var(--secondary-color);

    font-family: 'londrina sketch', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 400%;
    width: 100%;
    z-index: 100;
    top: 20px;
    margin: auto;
    text-align: center;

}

.mainheader {
    position: absolute;
}

article {
    position: absolute;
    border: 1px solid var(--main-color);
    background: var(--secondary-color);
    padding: 20px;
    bottom: 40px;
    left: 10px;
    right: 10px;

}

.headshot {
    width: 10%;
    float: right;

}

.history {
    display: grid;
    grid-template: 1fr 2fr / 3fr 2fr 3fr;
    grid-gap: 10px;
}

.lilo {
    grid-row: 1/2;
    grid-column: 2/3;
    place-self: center;
}

.stitch {
    grid-row: 2/3;
    padding-left: 10%;

}

.jumba {
    grid-row: 2/3;
    grid-column: 3/4;
    padding-right: 10%;

}

h2 {
    color: var(--accent-1);
    font-family: 'londrina sketch', sans-serif;
    font-weight: 600;
    font-size: 250%;
    text-align: center;

}

p {
    color: var(--main-color);
    font-family: 'cactus classical serif', serif;
    font-weight: 400;
    font-style: normal;
}

.hp {
    /*display: grid;*/
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
}

.hermione {
    /*grid-row: 1/2;
    grid-column: 1/2;*/
    width: 100%;
    text-align: center;

}

.ron {
    /* grid-row: 2/3;
    grid-column: 1/2;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

}

footer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
}

.reference {
    justify-content: center;
    align-content: center;
    grid-column: 1/2;
    text-align: center;
}

.socials {
    grid-column: 2/3;
    text-align: center;
}